@model List<ScheduledUserViewModel>

@{
    Layout = "_Layout";
    var count = 1;
}

<div class="container">
    <div class="col-12">

        <div class="row pt-3">
            <div class="col-lg-12 d-flex flex-column-reverse justify-content-end align-items-end p-2">
                <div class="col-lg-6">
                    <form class="d-flex" asp-action="SignOutVisitor" asp-controller="Dashboard" method="post">
                        <input class="form-control p-4 mr-1" type="text" placeholder="Search by Tag or Phone Number" value="" aria-label="Search" name="search">
                        <button class="btn btn-success btn-sm pr-3 pl-4" type="submit">Enter</button>
                    </form>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-lg-12 d-flex flex-wrap vdwrapper" style="margin-top:5vh;">
                <div class="shadow bg-white rounded  col-sm-12 text-center p-4 table-responsive-sm" id="tbody">


                    <table class="table table-borderless table-striped table-hover align-middle">

                        <thead>
                            <tr>
                                <th class="text-left"></th>
                                <th class="text-left">Visitor's Name</th>
                                <th class="text-left">Phone Number</th>
                                <th class="text-left">Booking Time</th>
                                <th></th>
                                <th colspan="2">Status</th>

                            </tr>
                        </thead>


                        <tbody>

                            @foreach (var item in Model)
                            {

                                <tr>
                                    <td class="text-left">
                                        @count .
                                    </td>
                                    <td class="text-left">
                                        @item.Name
                                    </td>
                                    <td class="text-left">
                                        @item.Contact
                                    </td>
                                    <td class="text-left">
                                        @item.BookingTime
                                    </td>
                                    <td>
                                        <a class="btn btn-primary" asp-action="ViewDetails" asp-controller="Dashboard" asp-route-tag="@item.TagNo" asp-route-id="@item.UserId"> Detail</a>
                                    </td>
                                    @if (@item.IsGranted == true)
                                    {
                                        <td>
                                            <i class="badge badge-pill badge-secondary">Signed In</i>
                                        </td>
                                    }
                                    else if (item.Cancelled == false && item.IsGranted == false)
                                    {

                                        <td>

                                            <a class="btn btn-success" asp-action="GrantAccess" asp-controller="Dashboard" asp-route-tag="@item.TagNo">Grant Access</a>
                                        </td>
                                        <td>

                                            <a class="btn btn-danger" asp-action="GrantAccess" asp-controller="Dashboard" asp-route-tag="@item.TagNo">Cancel</a>
                                        </td>

                                    }
                                    else if (item.IsGranted == false && item.Cancelled == true)
                                    {
                                        <td>
                                            <i class="badge badge-pill badge-secondary">Cancelled</i>
                                        </td>

                                    }

                                </tr>
                                count++;
                            }
                        </tbody>
                    </table>

                </div>

            </div>
        </div>

    </div>

</div>