@model SignOutViewModel

@{ 
    var newTimeOut = string.Empty ;
    if (Model.TimeOut < DateTime.Now.AddHours(-24))
    {
        newTimeOut = "Not";
    }
   
}

<div class="row d-flex justify-content-center align-content-center pt-5" style="margin-top:2vh;">
    <div class="col-lg-8 col-sm-12 box-shadow border border-0 pb-3">
        <div class="col-sm-12 d-flex flex-column text-center p-3">


            <div class="">
                <h3 class="font-weight-bolder" style="color: #0094ff;">Visitor Details</h3>
            </div>


            @if (Model.Cancelled == false && User.IsInRole("Admin"))
            {
                <a class="btn btn-success" asp-action="GrantAccess" asp-controller="Dashboard" asp-route-tag="@Model.TagNo">Grant Access</a>

            }
            else
            {
                @*<a class="btn btn-warning col-2 ml-auto" asp-action="SignVisitorOut" asp-controller="Dashboard" asp-route-Tag="@Model.TagNo" asp-route-Id="@Model.UserId"> Sign Out</a>*@

            }

            @if (Model.GrantedAccess == false && Model.Cancelled == false)
            {
                <h6 class="text-danger font-weight-bolder">
                    No Access Granted Yet
                </h6>
            }

        </div>

        <div class="col-sm-12 text-right">

            @if (User.IsInRole("Admin"))
            {
                <a asp-action="Access" asp-controller="Dashboard" class="btn btn-warning ml-auto"> Back</a>
            }
            else
            {
                <a asp-action="Index" asp-controller="Dashboard" class="btn btn-warning ml-auto"> Back</a>

            }
        </div>



        <div class="col-sm-12 d-flex justify-content-center align-content-center pt-4 p-2">

            <div class="col-12 d-flex justify-content-center align-content-center font-weight-bold ">
                <div class="col-lg-6">
                    <div class="row mb-3">
                        <label for="Name" class="col-sm-4 col-form-label">Full Name</label>
                        <div class="col-sm-8">
                            <input class="form-control" placeholder="@Model.VisitorName" disabled>
                        </div>
                    </div>

                    @if (User.IsInRole("Admin"))
                    {

                        <div class="row mb-3">
                            <label for="Name" class="col-sm-4 col-form-label">Email</label>
                            <div class="col-sm-8">
                                <input class="form-control" placeholder="@Model.Email" disabled>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label for="Phome" class="col-sm-4 col-form-label">Gender</label>
                            <div class="col-sm-8">
                                <input class="form-control" placeholder="@Model.Gender" disabled>
                            </div>
                        </div>

                    }



                    <div class="row mb-3">
                        <label for="Phome" class="col-sm-4 col-form-label">Contact Name</label>
                        <div class="col-sm-8">
                            <input class="form-control" placeholder="@Model.PhoneNumber" disabled>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="Time" class="col-sm-4 col-form-label">Booking Time</label>
                        <div class="col-sm-8">
                            <input class="form-control" placeholder="@Model.BookingTime" disabled>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="tag" class="col-sm-4 col-form-label">Tag No</label>
                        <div class="col-sm-8">
                            <input class="form-control" placeholder="@Model.TagNo" disabled>
                        </div>
                    </div>
                    @if (User.IsInRole("Admin"))
                    {

                        <div class="row mb-3">
                            <label for="Time" class="col-sm-4 col-form-label">Address</label>
                            <div class="col-sm-8">
                                <input class="form-control" placeholder="@Model.Address.StreetNo @Model.Address.AddressTitle @Model.Address.City" disabled>
                            </div>
                        </div>

                    }
                </div>

                @if (User.IsInRole("Admin"))
                {
                    <div class="col-lg-6">


                        <div class="row mb-3">
                            <label for="tag" class="col-sm-4 col-form-label">Purpose</label>
                            <div class="col-sm-8">
                                <input class="form-control" placeholder="@Model.Purpose" disabled>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label for="Name" class="col-sm-4 col-form-label">To Whom</label>
                            <div class="col-sm-8">
                                <input class="form-control" placeholder="@Model.ToWhom" disabled>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label for="Phome" class="col-sm-4 col-form-label">From Where</label>
                            <div class="col-sm-8">
                                <input class="form-control" placeholder="@Model.FromWhere" disabled>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="Phome" class="col-sm-4 col-form-label">Time In</label>
                            <div class="col-sm-8">
                                <input class="form-control" placeholder="@Model.TimeIn" disabled>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="Phome" class="col-sm-4 col-form-label">Time Out</label>
                            <div class="col-sm-8">
                                @if (newTimeOut == "Not")
                                {

                                    <input class="form-control" placeholder="Not Signed Out" disabled>
                                }
                                else
                                {
                                    <input class="form-control" placeholder="@Model.TimeOut" disabled>
                                }
                            </div>
                        </div>

                    </div>
                }

            </div>
        </div>
    </div>
</div>