@model List<EmpListViewModel>
    @{
        Layout = "_VisitorLayout";
    }


@foreach (var item in @Model)
{
    @item.Name
    @item.Email
    @item.IsAvailable
}
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Available</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in @Model)
        {
            <tr>
                <th scope="row">1</th>
                <td> @item.Name</td>
                <td> @item.Email</td>
                <td>@item.IsAvailable</td>
            </tr>
        }
        
    </tbody>
</table>