@model RegisterViewModel


<div class="row d-flex flex-lg-row flex-sm-row-reverse justify-content-center align-content-center pt-5">

    <div class="col-lg-5 col-sm-12 ">
        <div class="col-sm-12">
            <div class="col-12 text-center p-3 pt-4">
                <div class="form-title text-center">
                    <h4 class="font-weight-bolder" style="color: #0094ff;">Create A New Account</h4>
                </div>
                <hr />
                <div>
                    @if (ViewBag.LoginErrMsg == true)
                    {
                        <div class="d-flex justify-content-center ">

                            <div style="width:100%; text-align:justify;" asp-validation-summary="All" class="alert alert-danger forgotPass-list-error" id="summary"></div>

                        </div>
                    }
                </div>
                <form asp-controller="Home" asp-action="Register" method="post">


                    <div class="row align-items-center mt-4">
                       
                        <div class="col-12 text-center">
                            <input asp-for="Name" type="text" class="form-control" placeholder="Name" required>
                            <span class="text-danger font-italic small " asp-validation-for="@Model.Name"></span>
                        </div>

                    </div>
                    <div class="row align-items-center mt-4">
                        <div class="col">
                            <input asp-for="Email" type="email" class="form-control" placeholder="Email" required>
                        </div>
                        <div class=" col-12 text-center">
                            <span class="text-danger font-italic small" asp-validation-for="@Model.Email"></span>
                        </div>
                    </div>
                    <div class="row align-items-center mt-4">
                        <div class="col">
                            <input asp-for="Phone" type="text" class="form-control" placeholder="Phone Number" required>
                        </div>
                        <div class=" col-12 text-center">
                            <span class="text-danger font-italic small" asp-validation-for="@Model.Phone"></span>
                        </div>
                    </div>
                    
                    <div class="row align-items-center mt-4">
                        <div class="col">
                            <input asp-for="Password" type="password" class="form-control" placeholder="Password">
                        </div>
                        <div class="col">
                            <input asp-for="ConfirmPassword" type="password" class="form-control" placeholder="Confirm Password">
                            <span class="text-danger font-italic small" asp-validation-for="@Model.ConfirmPassword"></span>
                        </div>
                        <div class=" col-12 text-center">
                            <span class="text-danger font-italic small" asp-validation-for="@Model.Password"></span>
                        </div>
                    </div>
                    <div class="row mb-4 mt-3">
                        <div class="col-lg-8 col-sm-6 d-flex justify-content-start align-items-center">
                            <div class="form-check" style="font-size:16px;">
                                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                <label class="" for="exampleCheck1"> Accept terms & conditions</label>
                            </div>
                        </div>
                        <div class="col-lg-4 form-group">
                            <button type="submit" class="btn btn-primary w-100">Sign Up</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
